@import url('https://fonts.googleapis.com/css2?family=Galada&family=Hind+Siliguri:wght@300;400;500;600;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Serif+Bengali:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

:root {
  /* Light Mode Colors */
  --bg-primary-light: #FFFFFF;
  --bg-secondary-light: #FDF5E6;
  /* Old Lace - হালকা চন্দন রঙ */
  --text-main-light: #2F2F2F;
  /* Description এর জন্য */
  --heading-page-light: #B22222;
  /* H1 এর জন্য গাঢ় লাল */
  --heading-section-light: #8B4513;
  /* H2/H3 এর জন্য খয়েরি */
  --nav-link-light: #555555;
  --nav-active-light: #800000;

  /* Dark Mode Colors */
  --bg-primary-dark: #121212;
  --bg-secondary-dark: #1A1A1A;
  --text-main-dark: #E0E0E0;
  --heading-page-dark: #FF9933;
  /* Saffron */
  --heading-section-dark: #FFD700;
  /* Gold */
  --nav-link-dark: #B0B0B0;
  --nav-active-dark: #FFD700;

  /* Universal Accents (Buttons & Icons) */
  --accent-gold: #FFD700;
  --accent-saffron: #FF9933;
  --accent-saffron-hover: #E67E22;
}


/* বাংলা ভাষার জন্য স্টাইল */
.lang-bn {
  font-family: "Hind Siliguri", sans-serif;
  /* font-family: 'Noto Serif Bengali', serif !important; */
}
.lang-bn h1, .lang-bn h2, .lang-bn .heading-style {
  font-family: 'Galada', cursive !important;
  line-height: 1.4;
}

/* ইংরেজি ভাষার জন্য স্টাইল */
.lang-en {
  font-family: 'Lora', serif !important;
}
.lang-en h1, .lang-en h2, .lang-en .heading-style {
  font-family: 'Playfair Display', serif !important;
  line-height: 1.2;
}

/* কমন বডি টেক্সট সেটিংস */
p, span, div {
  line-height: 1.6;
}











.btn-primary {
  @apply bg-[#7a0c0c] text-white md:text-[16px] text-sm md:px-6 px-4 py-2 md:py-3 rounded-md hover:bg-white hover:text-[#4B1E2F] border border-transparent hover:border-zinc-300 active:scale-95 transition-all cursor-pointer
}

.btn-signin {
  @apply bg-[#7a0c0c] text-white px-8 py-2 rounded-md hover:bg-white hover:text-[#4B1E2F] border border-transparent hover:border-black active:scale-95 transition-all cursor-pointer
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-in forwards;
}


/* .bg-section-primary { */
/* @apply bg-linear-to-b from-yellow-50 via-amber-50 to-orange-100 */
/* background-color: #7A0000;
} */

/* .bg-section-secondary { 
  background-color: #FFF8E1;
} */

.bg-section-primary {
  background-color: #460B2F;
}

.bg-section-secondary {
  background-color: #FDF5E6;
}



/* 7A0000 bg primary er jonno  */
/* FB8B24 button er jonno */